@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic+Guides&display=swap');

h2{
    /* color: palevioletred;
    background:darkslategray;
    text-decoration: wavy underline;
    text-decoration-color: purple ;
    text-shadow: 2px 2px 10px   rgb(255, 255, 255); */
    

}  

p{
    /* text-align: justify;
    text-indent: 50px;
    letter-spacing:2px;
    line-height: 1.5rem;
    word-spacing: 5px; */
}

a{
    /* text-decoration: dotted underline;
    text-decoration-color: red ;
    color: saddlebrown; */
}